site_name: StarkMinds Smart Contracts
theme:
  name: material
  features:
    - content.code.copy
    - content.tabs.link

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search